html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', arial, sans-serif; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

.container {
  background: url(https://i.imgur.com/YjcuGQM.jpg) no-repeat center;
  background-size: cover;
  height: 100vh; }
  .container img {
    padding: 2em; }
  .container p {
    font-size: 25px; }
  .container h1 {
    font-size: 45px; }
  .container .countdown {
    font-size: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .container .countdown div {
      padding: 20px;
      border-radius: 10px;
      margin: 5px;
      opacity: 0.7;
      background: -webkit-gradient(linear, left top, right top, from(#e72435), to(#a51b20));
      background: linear-gradient(90deg, #e72435 0%, #a51b20 100%);
      -webkit-box-shadow: 5px 5px 5px 0px black;
              box-shadow: 5px 5px 5px 0px black; }
    .container .countdown span {
      display: block;
      font-size: 25px; }

@media (max-width: 650px) {
  .container img {
    padding: 2em 0 4px 0; }
  .container h1 {
    margin: 0 auto 8px auto;
    font-size: 25px; }
  .container p {
    display: none; }

  .countdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .countdown div {
      padding: 5px;
      width: 80%; } }
